.background {
  width: 100%;
  background: url("../images/home-background.png") 50% 50%/cover no-repeat;
  height: 100vh;
}

nav {
  padding: 0 32px;
}

nav a {
  float: left;
}

nav a img {
  padding-top: 49px;
  width: 79px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}

nav ul li {
  float: left;
  padding: 55px 40px 7px 0;
}

nav ul li:last-of-type {
  padding-right: 0;
}

nav ul li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

nav ul li a:hover {
  color: #fed136;
}

nav div.mobile-nav {
  display: none;
  float: right;
  width: 25px;
  height: 18px;
  padding: 20px;
  margin-top: 31px;
  position: relative;
  cursor: pointer;
}

nav div.mobile-nav span {
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background-color: #fed136;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: .5s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
}

nav div.mobile-nav span:nth-child(1) {
  top: 20px;
  transform-origin: left center;
}

nav div.mobile-nav span:nth-child(2) {
  top: 28px;
  transform-origin: left center;
}

nav div.mobile-nav span:nth-child(3) {
  top: 36px;
  transform-origin: center center;
}

nav div.mobile-nav.open span {
  transform: rotate(45deg);
}

nav div.mobile-nav.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

nav div.mobile-nav.open span:nth-child(3) {
  transform: rotate(-225deg);
  top: 29px;
  left: 16px;
}

section.home {
  text-align: center;
}

section.home h1 {
  margin-top: 160px;
  text-transform: capitalize;
  font: normal 40px /40px "PT Serif", serif;
}

section.home h2 {
  margin-top: 50px;
  text-transform: uppercase;
  font: bold 75px /75px "Montserrat", sans-serif;
}

section.home button.tellMeMore {
  margin-top: 50px;
}

section.services {
  color: #222;
  text-align: center;
}

section.services header h3 {
  text-transform: uppercase;
  font: bold 40px /40px "Montserrat", sans-serif;
}

section.services header p {
  padding-top: 20px;
  color: #777;
  font: normal 16px /16px "PT Serif", serif;
}

section.services article {
  padding-top: 76px;
}

section.services article .services-icon-wrapper {
  margin: 0 auto;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  border: 3px solid #fed136;
  position: relative;
}

section.services article h4 {
  margin-top: 24px;
  text-transform: capitalize;
  font: bold 18px /18px "Montserrat", sans-serif;
}

section.services article p {
  padding: 15px 28px 0;
  font: normal 14px /20px "PT Serif", serif;
  color: #777;
}

section.services article:nth-child(1) .services-icon-wrapper:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 13px;
  display: block;
  background: url("../images/icon-basket.png") no-repeat;
  left: 17px;
}

section.services article:nth-child(2) .services-icon-wrapper:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 13px;
  display: block;
  background: url("../images/icon-laptop.png") no-repeat;
  left: 17px;
  top: 20px;
}

section.services article:nth-child(3) .services-icon-wrapper:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 13px;
  display: block;
  background: url("../images/icon-paddlock.png") no-repeat;
  left: 22px;
}

section.portfolio {
  text-transform: capitalize;
  text-align: center;
  background-color: #f7f7f7;
}

section.portfolio .row header h3 {
  text-transform: uppercase;
  font: bold 40px /40px "Montserrat", sans-serif;
  color: #222;
}

section.portfolio .row header p {
  padding-top: 20px;
  font: normal 16px /16px "PT Serif", serif;
  color: #777;
}

section.portfolio .row:nth-child(2) {
  padding-top: 50px;
}

section.portfolio .row:nth-child(2) article:nth-child(1) .portfolio-image-wrapper {
  background: url("../images/portfolio-1.png") no-repeat center center/cover;
}

section.portfolio .row:nth-child(2) article:nth-child(2) .portfolio-image-wrapper {
  background: url("../images/portfolio-2.png") no-repeat center center/cover;
}

section.portfolio .row:nth-child(2) article:nth-child(3) .portfolio-image-wrapper {
  background: url("../images/portfolio-3.png") no-repeat center center/cover;
}

section.portfolio .row:nth-child(3) article:nth-child(1) .portfolio-image-wrapper {
  background: url("../images/portfolio-4.png") no-repeat center center/cover;
}

section.portfolio .row:nth-child(3) article:nth-child(2) .portfolio-image-wrapper {
  background: url("../images/portfolio-5.png") no-repeat center center/cover;
}

section.portfolio .row:nth-child(3) article:nth-child(3) .portfolio-image-wrapper {
  background: url("../images/portfolio-6.png") no-repeat center center/cover;
}

section.portfolio article .portfolio-article-wrapper {
  margin: 25px;
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content {
  transition: transform 0.4s, box-shadow 0.4s;
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content .portfolio-image-wrapper {
  width: 100%;
  padding-top: 100%;
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content .portfolio-label {
  background-color: #fff;
  padding: 30px 0;
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content .portfolio-label h4 {
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #222;
}

section.portfolio article .portfolio-article-wrapper .portfolio-article-wrapper-content .portfolio-label p {
  padding-top: 2px;
  font: normal 14px /14px "PT Serif", serif;
  color: #777;
}

section.about .row {
  padding-top: 93px;
}

section.about .row header {
  text-align: center;
}

section.about .row header h3 {
  text-transform: uppercase;
  font: bold 40px /40px "Montserrat", sans-serif;
  color: #222;
}

section.about .row header p {
  padding-top: 20px;
  font: normal 16px /16px "PT Serif", serif;
  color: #777;
}

section.about .row article.col-custom {
  width: 36.87%;
}

section.about .row article div.about-article-wrapper {
  padding-top: 7px;
}

section.about .row article div.about-article-wrapper h4 {
  text-transform: uppercase;
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #222;
}

section.about .row article div.about-article-wrapper h5 {
  text-transform: capitalize;
  padding-top: 11px;
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #222;
}

section.about .row article div.about-article-wrapper p {
  padding-top: 17px;
  font: normal 14px /20px "PT Serif", serif;
  color: #777;
}

section.about .row div.col-custom {
  width: 26.36%;
}

section.about .row div.col-custom div.about-image {
  width: 58%;
  padding-bottom: 58%;
  border: 7px solid #f7f7f7;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

section.about .row div.col-custom div.about-image:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  display: block;
  padding-bottom: 70%;
  border: 2px solid #f7f7f7;
}

section.about .row div.col-custom div.about-image-1 {
  background: url("../images/about-1.png") no-repeat 31% 50%;
}

section.about .row div.col-custom div.about-image-2 {
  background: url("../images/about-2.png") no-repeat 17% 50%;
}

section.about .row div.col-custom div.about-image-3 {
  background: url("../images/about-3.png") no-repeat 50% 100%;
}

section.about .row div.col-custom div.about-image-4 {
  background: url("../images/about-4.png") no-repeat 50% 50%;
}

section.about .row:nth-child(even) article {
  text-align: right;
}

section.about .row:nth-child(odd) article {
  float: right;
}

section.about .row:nth-child(odd) div.col-custom {
  float: right;
}

section.about .row:nth-child(1) {
  padding-top: 0;
}

section.about .row:nth-child(2) {
  padding-top: 85px;
}

section.about .row:nth-child(2) article h4 {
  padding-top: 0;
}

section.about .row:last-of-type div.col-custom {
  width: 100%;
}

section.about .row:last-of-type div.col-custom div.about-image {
  width: 15%;
  padding-bottom: 15%;
  background-color: #fed136;
  position: relative;
}

section.about .row:last-of-type div.col-custom div.about-image span {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 30px;
  font: bold 18px /13px "Montserrat", sans-serif;
}

section.about .row:last-of-type div.col-custom div.about-image::after {
  display: none;
}

section.team {
  text-transform: capitalize;
  text-align: center;
  background-color: #f7f7f7;
}

section.team .container {
  max-width: 840px;
}

section.team .container .row header h3 {
  text-transform: uppercase;
  font: bold 40px /40px "Montserrat", sans-serif;
  color: #222;
}

section.team .container .row header p {
  padding-top: 20px;
  font: normal 16px /16px "PT Serif", serif;
  color: #777;
}

section.team .container .row:nth-child(2) article {
  padding-top: 76px;
}

section.team .container .row:nth-child(2) article div.team-image-wrapper {
  padding: 0 23px;
}

section.team .container .row:nth-child(2) article div.team-image-wrapper div.team-image {
  box-sizing: border-box;
  border: 7px solid #fff;
  border-radius: 50%;
  background-color: #000;
  width: 100%;
  padding-bottom: 94%;
}

section.team .container .row:nth-child(2) article h4 {
  padding-top: 20px;
  text-transform: capitalize;
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #222;
}

section.team .container .row:nth-child(2) article p {
  padding-top: 11px;
  font: normal 14px /20px "PT Serif", serif;
  color: #777;
}

section.team .container .row:nth-child(2) article div.team-social-panel-wrapper {
  width: 148px;
  margin: 0 auto;
}

section.team .container .row:nth-child(2) article div.team-social-panel-wrapper div.team-social-button-wrapper {
  padding: 4px;
}

section.team .container .row:nth-child(3) p {
  text-transform: none;
  padding: 50px 192px 0;
  font: normal 14px /20px "PT Serif", serif;
  color: #777;
}

section.logos {
  padding: 60px 0;
}

section.logos .container span {
  display: block;
  float: right;
}

section.logos .container img {
  box-sizing: border-box;
  height: 42px;
  padding: 0 22px;
}

section.logos .container img:hover {
  animation: wobble 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

section.logos .container .logos-image-1 {
  padding: 6px 22px;
  width: 197px;
  display: inline;
}

section.logos .container .logos-image-2 {
  width: 230px;
  display: inline;
}

section.logos .container .logos-image-3 {
  width: 175px;
}

section.logos .container .logos-image-4 {
  width: 209px;
}

@keyframes wobble {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

section.contact {
  background: url("../images/contact-background.png") no-repeat center center/cover;
}

section.contact .container .row header {
  text-transform: capitalize;
  text-align: center;
}

section.contact .container .row header h3 {
  text-transform: uppercase;
  font: bold 40px /40px "Montserrat", sans-serif;
  color: #fff;
}

section.contact .container .row header p {
  padding-top: 20px;
  font: normal 16px /16px "PT Serif", serif;
  color: #777;
}

section.contact .container .row:nth-child(2) form {
  display: block;
  max-width: 1080px;
  width: 100%;
  max-height: 334px;
  margin: 56px auto 0;
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #d8d8d8;
  text-transform: uppercase;
}

section.contact .container .row:nth-child(2) form fieldset {
  border: none;
  width: 100%;
}

section.contact .container .row:nth-child(2) form fieldset input {
  box-sizing: border-box;
  display: block;
  border: none;
  margin: 4.19% 2.88%;
  width: 94.22%;
  border-radius: 5px;
  padding: 3%;
  font: inherit;
  text-transform: inherit;
}

section.contact .container .row:nth-child(2) form fieldset input:focus {
  box-shadow: 0 0 3px 2px #fed136;
  outline: none;
}

section.contact .container .row:nth-child(2) form fieldset textarea {
  box-sizing: border-box;
  display: block;
  border: none;
  margin: 4.19% 2.98%;
  width: 94.22%;
  padding: 4.2%;
  border-radius: 5px;
  font: inherit;
  text-transform: inherit;
  resize: none;
}

section.contact .container .row:nth-child(2) form fieldset textarea:focus {
  box-shadow: 0 0 3px 2px #fed136;
  outline: none;
}

section.contact .container .row:nth-child(2) form button {
  margin: 0 auto;
  display: block;
}

footer .container .row .col p {
  padding: 35px 0 35px 35px;
  display: block;
  font: normal 14px /14px "Montserrat", sans-serif;
  color: #222;
}

footer .container .row .col div.footer-social-panel-wrapper {
  margin: 20px 0 0 170px;
}

footer .container .row .col div.footer-social-panel-wrapper a {
  display: inline-block;
  margin: 2px;
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
  section.container, div.container {
    max-width: 960px;
  }
  section.home h1 {
    margin-top: 80px;
    font-size: 35px;
    line-height: 35px;
  }
  section.home h2 {
    font-size: 60px;
    line-height: 60px;
  }
  section.portfolio article .portfolio-article-wrapper {
    margin: 20px;
  }
  section.about .row {
    padding-top: 50px;
  }
  section.about .row div.col-custom div.about-image::after {
    padding-bottom: 100%;
  }
  section.about .row:last-of-type div.col-custom div.about-image span {
    top: 27px;
    left: 16px;
  }
  section.contact .container .row:nth-child(2) form fieldset textarea {
    padding: 4.2%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  section.container, div.container {
    max-width: 720px;
  }
  section.home h1 {
    margin-top: 30px;
  }
  section.home h1 {
    margin-top: 80px;
    font-size: 35px;
    line-height: 35px;
  }
  section.home h2 {
    font-size: 60px;
    line-height: 60px;
  }
  section.portfolio article .portfolio-article-wrapper {
    margin: 15px;
  }
  section.about .row {
    padding-top: 20px;
  }
  section.about .row div.col-custom div.about-image {
    width: 65%;
    padding-bottom: 65%;
  }
  section.about .row div.col-custom div.about-image::after {
    padding-bottom: 210%;
  }
  section.about .row:last-of-type div.col-custom div.about-image {
    width: 17%;
    padding-bottom: 17%;
  }
  section.about .row:last-of-type div.col-custom div.about-image span {
    font-size: 15px;
    line-height: 11px;
    top: 20px;
    left: 15px;
  }
  section.logos .container span img {
    float: right;
  }
  section.logos .container span img:first-of-type {
    margin: 0 -9px 30px 0;
  }
  section.logos .container div[class*="col-"] {
    box-sizing: border-box;
    padding: 0 10px;
  }
  section.logos .container div[class*="col-"] img:nth-child(1) {
    margin-bottom: 30px;
  }
  section.contact .container .row:nth-child(2) form fieldset input:nth-child(1) {
    margin-bottom: 7.5%;
  }
  section.contact .container .row:nth-child(2) form fieldset input:nth-child(2) {
    margin-bottom: 7.5%;
  }
  section.contact .container .row:nth-child(2) form fieldset textarea {
    padding: 3.2%;
    margin-left: 3.8%;
  }
  section.contact .container .row:nth-child(2) form button {
    margin: 3.8% auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
  section.container, div.container {
    max-width: 540px;
  }
  nav ul li {
    padding-right: 15px;
  }
  section.home h1 {
    margin-top: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  section.home h2 {
    font-size: 60px;
    line-height: 60px;
  }
  section.about .row article.col-custom {
    width: 60%;
  }
  section.about .row div.col-custom {
    width: 40%;
  }
  section.about .row div.col-custom div.about-image:after {
    padding-bottom: 210%;
  }
  section.about .row:nth-child(odd) article {
    float: left;
    text-align: right;
  }
  section.about .row:last-of-type div.col-custom div.about-image {
    float: right;
    margin-right: 38px;
    width: 23%;
    padding-bottom: 23%;
  }
  section.about .row:last-of-type div.col-custom div.about-image span {
    top: 18px;
    left: 16px;
    font-size: 15px;
  }
  section.team .container {
    max-width: 540px;
  }
  section.team .container .row:nth-child(2) article div.team-image-wrapper {
    padding: 0 10px;
  }
  section.team .container .row:nth-child(2) article h4 {
    width: 100px;
    margin: 0 auto;
  }
  section.team .container .row:nth-child(3) p {
    padding: 50px 90px 0;
  }
  section.logos .container span img {
    float: right;
  }
  section.logos .container span img:first-of-type {
    margin: 0 -9px 30px 0;
  }
  section.logos .container div[class*="col-"]:last-of-type img {
    margin-bottom: 30px;
  }
  section.contact {
    background-position: 80% 50%;
  }
  section.contact .container .row:nth-child(2) form {
    max-height: none;
  }
  section.contact .container .row:nth-child(2) form fieldset input {
    font-size: 15px;
  }
  section.contact .container .row:nth-child(2) form fieldset textarea {
    margin-top: 0;
    font-size: 15px;
  }
  footer .container .row div.col {
    float: none;
    margin: 20px auto;
  }
  footer .container .row div.col p {
    padding: 20px 0 0;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .offset-xs-1 {
    margin-left: 8.33333%;
  }
  .offset-xs-2 {
    margin-left: 16.66667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.33333%;
  }
  .offset-xs-5 {
    margin-left: 41.66667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.33333%;
  }
  .offset-xs-8 {
    margin-left: 66.66667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.33333%;
  }
  .offset-xs-11 {
    margin-left: 91.66667%;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
  section.container, div.container {
    max-width: 540px;
  }
  section {
    padding: 60px 0;
  }
  nav {
    position: relative;
  }
  nav a {
    position: relative;
    z-index: 2;
  }
  nav div.mobile-nav {
    z-index: 2;
  }
  nav ul {
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  nav ul li {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }
  nav ul li:last-of-type {
    padding-right: 20px;
  }
  nav ul li a {
    text-align: center;
    float: none;
    display: block;
  }
  nav div.mobile-nav {
    display: block;
  }
  section.home h1 {
    transition: all .5s ease;
    margin-top: 0;
    font-size: 35px;
    line-height: 35px;
  }
  section.home h2 {
    transition: all .5s ease;
    font-size: 60px;
    line-height: 60px;
  }
  section.services article {
    padding-top: 40px;
  }
  section.portfolio article .portfolio-article-wrapper {
    margin: 35px;
  }
  section.about .row {
    padding-top: 45px;
  }
  section.about .row:nth-child(2) {
    padding-top: 45px;
  }
  section.about .row article.col-custom {
    width: 60%;
  }
  section.about .row div.col-custom {
    width: 40%;
  }
  section.about .row div.col-custom div.about-image:after {
    padding-bottom: 130%;
  }
  section.about .row:nth-child(odd) article {
    float: left;
    text-align: right;
  }
  section.about .row:last-of-type div.col-custom div.about-image {
    float: right;
    margin-right: 38px;
    width: 23%;
    padding-bottom: 23%;
  }
  section.about .row:last-of-type div.col-custom div.about-image span {
    top: 18px;
    left: 16px;
    font-size: 15px;
  }
  section.team .container .row:nth-child(2) article {
    padding-top: 40px;
    margin: 0 auto;
    float: none;
  }
  section.team .container .row:nth-child(3) p {
    padding: 30px 60px 0;
  }
  section.logos .container span img {
    float: right;
  }
  section.logos .container span img:first-of-type {
    margin: 0 22px 30px 0;
  }
  section.logos .container div[class*="col-"]:last-of-type img:first-of-type {
    margin-left: 22px;
  }
  section.contact {
    background-position: 80% 50%;
  }
  section.contact .container .row:nth-child(2) form {
    max-height: none;
  }
  section.contact .container .row:nth-child(2) form fieldset input {
    font-size: 12px;
    padding: 2%;
  }
  section.contact .container .row:nth-child(2) form fieldset textarea {
    margin-top: 0;
    font-size: 12px;
    padding: 2%;
  }
  footer .container .row div.col {
    float: none;
    margin: 20px 0;
  }
  footer .container .row div.col p {
    padding: 20px 0 0;
    text-align: center;
  }
  footer .container .row div.col div.footer-social-panel-wrapper {
    width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 465px) {
  section.logos .container span {
    float: none;
  }
  section.logos .container span img.logos-image-1 {
    float: none;
    display: block;
    margin: 0 auto 30px auto;
  }
  section.logos .container span img.logos-image-2 {
    float: none;
    display: block;
    margin: 15px auto;
  }
  section.logos .container div[class*="col-"]:last-of-type img.logos-image-3 {
    float: none;
    display: block;
    margin: 15px auto;
  }
  section.logos .container div[class*="col-"]:last-of-type img.logos-image-4 {
    float: none;
    display: block;
    margin: 30px auto 0 auto;
  }
}

.row::before, .row::after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col"], [class*="offset"] {
  float: left;
  min-height: 1px;
}

body {
  background-color: #fff;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

section {
  padding: 120px 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

button {
  padding: 25px 51px;
  border: none;
  border-radius: 3px;
  background-color: #fed136;
  cursor: pointer;
  font: bold 18px /18px "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
}

button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.6s;
  transform: scale(0.5, 1);
}

button:hover:before {
  opacity: 1;
  transform: scale(1, 1);
}

button:hover {
  color: #000;
  transform: scale(1.05, 1.05);
}

button:focus {
  outline: none;
}

a[class*="social-icon"] {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: relative;
  border: 4px solid #000;
  background-color: #fff;
}

a[class*="social-icon"] span {
  position: absolute;
  top: 5px;
  left: 6px;
}

a[class*="social-icon"] span i {
  font-size: 22px;
  color: #000;
}

a[class*="social-icon"]:hover span i {
  color: #fff;
}

a.social-icon-twitter:hover {
  background-color: #00aced;
  border-color: #00aced;
}

a.social-icon-facebook span {
  left: 11px;
}

a.social-icon-facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}

a.social-icon-pinterest span {
  left: 9px;
}

a.social-icon-pinterest:hover {
  background-color: #cb2028;
  border-color: #cb2028;
}

a.social-icon-googleplus span {
  left: 4px;
}

a.social-icon-googleplus:hover {
  background-color: #d95232;
  border-color: #d95232;
}
/*# sourceMappingURL=main.prefixed.css.map */