@import '_mixin';
@import '_variables';

section.contact {
  background: url('../images/contact-background.png') no-repeat center center/cover;
  .container{
    .row{
      header {
        text-transform: capitalize;
        text-align: center;
        h3 {          
          color: $color-primary;
        }
        p {
          padding-top: 20px;
          @include font-content(normal, 16, 16);
          color: $color-paragraph;
        }
      }
      &:nth-child(2) {
        form {
          display: block;
          max-width: 1080px;
          width: 100%;
          margin: 56px auto 0;
          @include font-header(bold, 18, 18);
          color: $color-form-text;
          text-transform: uppercase;
          fieldset {
            border: none;
            width: 100%;
          }
          button {
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea {
                max-width: 452px;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea{
                max-width: 350px;
                font-size: 15px;
                margin: 0 10px 20px 10px;
              }
              input {
                margin-left: 0;
              }
              textarea {
                margin-right: 0;
                height: 208px;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    background-position: 80% 50%;
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input {
                font-size: 15px;
              }
              textarea {
                margin-top: 0;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    background-position: 80% 50%;
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea {
                width: calc(100% - 28px);
                font-size: 13px;
                padding: 10px;
              }
              textarea {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
