@import '_mixin';
@import '_variables';

footer {
  .container {
    .row {
      .col {
        p {
          padding : 35px 0 35px 35px;
          display: block;
          @include font-header(normal, 14, 14);
          color: $color-header;
        }
        div.footer-social-panel-wrapper {
          margin: 20px 0 0 170px;
          a {
            display: inline-block;
            margin: 2px;
          }
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      .row {
        div.col {
          float: none;
          margin: 20px auto;
          p {
            padding: 20px 0 0;
            text-align: center;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    .container {
      .row {
        div.col {
          float: none;
          margin: 20px 0;
          p {
            padding: 20px 0 0;
            text-align: center;
          }
          div.footer-social-panel-wrapper {
            width: 200px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
