section.logos {
  padding: 60px 0;
  .container {
    span {
      display: block;
      float: right;
    }
    img {
      box-sizing: border-box;
      height: 42px;
      padding: 0 22px;
      &:hover {
        animation: wobble 1s cubic-bezier(.36,.07,.19,.97) both;
      }
    }
    .logos-image-1 {
      padding: 6px 22px;
      width: 197px;
      display: inline;
    }
    .logos-image-2 {
      width: 230px;
      display: inline;
    }
    .logos-image-3 {
      width: 175px;
    }
    .logos-image-4 {
      width: 209px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 -9px 30px 0;
          }
        }
      }
      div[class*="col-"] {
        box-sizing: border-box;
        padding: 0 10px;
        img {
          &:nth-child(1) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 -9px 30px 0;
          }
        }
      }
      div[class*="col-"]:last-of-type {
        img {
          margin-bottom: 30px;
        }
      }
    }
  }
  @media (max-width: 575px) {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 22px 30px 0;
          }
        }
      }
      div[class*="col-"]:last-of-type {
        img {
          &:first-of-type {
            margin-left: 22px;
          }
        }
      }
    }
  }
  @media (max-width: 465px) {
    .container {
      span {
        float: none;
        img.logos-image-1 {
          float: none;
          display: block;
          margin: 0 auto 30px auto;
        }
        img.logos-image-2 {
          float: none;
          display: block;
          margin: 15px auto;
        }
      }
      div[class*="col-"]:last-of-type {
        img.logos-image-3 {
          float: none;
          display: block;
          margin: 15px auto;
        }
        img.logos-image-4 {
          float: none;
          display: block;
          margin: 30px auto 0 auto;
        }
      }
    }
  }
}
@keyframes wobble {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
