@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-xl-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-xl-#{$i} {
      margin-left: $margin;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-lg-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-lg-#{$i} {
      margin-left: $margin;
    }
  }
  section.container, div.container {
    max-width: 960px;
  }
  section.home {
    h1 {
      margin-top: 80px;
      font-size: 35px;
      line-height: 35px;
    }
    h2 {
      font-size: 60px;
      line-height: 60px;

    }
  }
  section.portfolio {
    article {
      .portfolio-article-wrapper {
        margin: 20px;
      }
    }
  }
  section.about {
    .row {
      padding-top: 50px;
      div.col-custom {
        div.about-image {
          &::after {
            padding-bottom: 100%;
          }
        }
      }
      &:last-of-type {
        div.col-custom {
          div.about-image {
            span {
              top: 27px;
              left: 16px;
            }
          }
        }
      }
    }
  }
  section.contact {
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea {
                max-width: 452px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-md-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-md-#{$i} {
      margin-left: $margin;
    }
  }
  section.container, div.container {
    max-width: 720px;
  }
  section.home {
    h1 {
      margin-top: 30px;
    }
    h1 {
      margin-top: 80px;
      font-size: 35px;
      line-height: 35px;
    }
    h2 {
      font-size: 60px;
      line-height: 60px;
    }
  }
  section.portfolio {
    article {
      .portfolio-article-wrapper {
        margin: 15px;
      }
    }
  }
  section.about {
    .row {
      padding-top: 20px;
      div.col-custom {
        div.about-image {
          width: 65%;
          padding-bottom: 65%;
          &::after {
            padding-bottom: 210%;
          }
        }
      }
      &:last-of-type {
        div.col-custom {
          div.about-image {
            width: 17%;
            padding-bottom: 17%;
            span {
              font-size: 15px;
              line-height: 11px;
              top: 20px;
              left: 15px;
            }
          }
        }
      }
    }
  }
  section.logos {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 -9px 30px 0;
          }
        }
      }
      div[class*="col-"] {
        box-sizing: border-box;
        padding: 0 10px;
        img {
          &:nth-child(1) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  section.contact {
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea{
                max-width: 350px;
                font-size: 15px;
                margin: 0 10px 20px 10px;
              }
              input {
                margin-left: 0;
              }
              textarea {
                margin-right: 0;
                height: 208px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-sm-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-sm-#{$i} {
      margin-left: $margin;
    }
  }
  section.container, div.container {
    max-width: 540px;
  }
  nav {
    position: relative;
    a {
      position: relative;
      z-index: 2;
    }
    div.mobile-nav {
      z-index: 2;
    }
    ul {
      transition: all .5s ease;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      li {
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        &:last-of-type {
          padding-right: 20px;
        }
        a {
          text-align: center;
          float: none;
          display: block;
        }
      }
    }
    div.mobile-nav {
      display: block;
    }
  }
  section.home {
    h1 {
      transition: all .5s ease;
      margin-top: 0;
      font-size: 35px;
      line-height: 35px;
    }
    h2 {
      transition: all .5s ease;
      font-size: 60px;
      line-height: 60px;
    }
  }
  section.about {
    .row {
      padding-top: 50px;
      article.col-custom {
        float: none;
        width: 100%;
        div.about-article-wrapper {
          padding-top: 25px;
        }
      }
      div.col-custom {
        float: none;
        width: 100%;
        div.about-image {
          width: 30%;
          padding-bottom: 30%;
          &:after {
            display: none;
          }
        }
      }
      &:nth-child(odd) {
        article {
          float: left;
          text-align: right;
        }
      }
      &:last-of-type {
        div.col-custom {
          div.about-image {
            float: none;
            width: 30%;
            padding-bottom: 30%;
            left: 0;
            span {
              top: 36px;
              left: 28px;
              font-size: 17px;
            }
          }
        }
      }
      &:nth-child(even), &:nth-child(odd) {
        div.col-custom {
          margin: 0 auto;
          float: none;
        }
        article {
          text-align: center;
        }
      }
      &:nth-child(2) {
        padding-top: 50px;
      }
    }
  }
  section.team {
    .container {
      max-width: 540px;
      .row {
        &:nth-child(2) {
          article {
            div.team-image-wrapper {
              padding: 0 10px;
            }
            h4 {
              width: 100px;
              margin: 0 auto;
            }
          }
        }
        &:nth-child(3) {
          p {
            padding: 50px 90px 0;
          }
        }
      }
    }
  }
  section.logos {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 -9px 30px 0;
          }
        }
      }
      div[class*="col-"]:last-of-type {
        img {
          margin-bottom: 30px;
        }
      }
    }
  }
  section.contact {
    background-position: 80% 50%;
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input {
                font-size: 15px;
              }
              textarea {
                margin-top: 0;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      .row {
        div.col {
          float: none;
          margin: 20px auto;
          p {
            padding: 20px 0 0;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-xs-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-xs-#{$i} {
      margin-left: $margin;
    }
  }
  section.container, div.container {
    max-width: 540px;
  }
  section {
    padding: 60px 0;
  }
  nav {
    position: relative;
    a {
      position: relative;
      z-index: 2;
    }
    div.mobile-nav {
      z-index: 2;
    }
    ul {
      transition: all .5s ease;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      li {
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        &:last-of-type {
          padding-right: 20px;
        }
        a {
          text-align: center;
          float: none;
          display: block;
        }
      }
    }
    div.mobile-nav {
      display: block;
    }
  }
  section.home {
    h1 {
      transition: all .5s ease;
      margin-top: 0;
      font-size: 35px;
      line-height: 35px;
    }
    h2 {
      transition: all .5s ease;
      font-size: 60px;
      line-height: 60px;
    }
  }
  section.services {
    article {
      padding-top: 40px;
    }
  }
  section.portfolio {
    article {
      .portfolio-article-wrapper {
        margin: 35px;
      }
    }
  }
  section.about {
    .row {
      padding-top: 50px;
      article.col-custom {
        float: none;
        width: 100%;
        div.about-article-wrapper {
          padding-top: 25px;
          margin: 0 20px;
        }
      }
      div.col-custom {
        float: none;
        width: 100%;
        div.about-image {
          width: 30%;
          padding-bottom: 30%;
          &:after {
            display: none;
          }
        }
      }
      &:nth-child(odd) {
        article {
          float: left;
          text-align: right;
        }
      }
      &:last-of-type {
        div.col-custom {
          div.about-image {
            float: none;
            width: 30%;
            padding-bottom: 30%;
            left: 0;
            span {
              top: 36px;
              left: 28px;
              font-size: 17px;
            }
          }
        }
      }
      &:nth-child(even), &:nth-child(odd) {
        div.col-custom {
          margin: 0 auto;
          float: none;
        }
        article {
          text-align: center;
        }
      }
      &:nth-child(2) {
        padding-top: 50px;
      }
    }
  }
  section.team {
    .container {
      .row {
        &:nth-child(2) {
          article {
            padding-top: 40px;
            margin: 0 auto;
            float: none;
          }
        }
        &:nth-child(3) {
          p {
            padding: 30px 60px 0;
          }
        }
      }
    }
  }
  section.logos {
    .container {
      span {
        img {
          float: right;
          &:first-of-type {
            margin: 0 22px 30px 0;
          }
        }
      }
      div[class*="col-"]:last-of-type {
        img {
          &:first-of-type {
            margin-left: 22px;
          }
        }
      }
    }
  }
  section.contact {
    background-position: 80% 50%;
    .container {
      .row {
        &:nth-child(2) {
          form {
            fieldset {
              input, textarea {
                width: calc(100% - 28px);
                font-size: 13px;
                padding: 10px;
              }
              textarea {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      .row {
        div.col {
          float: none;
          margin: 20px 0;
          p {
            padding: 20px 0 0;
            text-align: center;
          }
          div.footer-social-panel-wrapper {
            width: 200px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media (max-width: 465px) {
  section.about {
    .row {
      &:last-of-type {
        div.col-custom {
          div.about-image {
            span {
              top: 20px;
              left: 18px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  section.logos {
    .container {
      span {
        float: none;
        img.logos-image-1 {
          float: none;
          display: block;
          margin: 0 auto 30px auto;
        }
        img.logos-image-2 {
          float: none;
          display: block;
          margin: 15px auto;
        }
      }
      div[class*="col-"]:last-of-type {
        img.logos-image-3 {
          float: none;
          display: block;
          margin: 15px auto;
        }
        img.logos-image-4 {
          float: none;
          display: block;
          margin: 30px auto 0 auto;
        }
      }
    }
  }
}
