@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-xl-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-xl-#{$i} {
      margin-left: $margin;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-lg-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-lg-#{$i} {
      margin-left: $margin;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-md-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-md-#{$i} {
      margin-left: $margin;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-sm-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-sm-#{$i} {
      margin-left: $margin;
    }
  }
}

@media (max-width: 575px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-xs-#{$i} {
      width: $width;
    }
  }
  @for $i from 1 through 12 {
    $margin: percentage(1 / 12) * $i;
    .offset-xs-#{$i} {
      margin-left: $margin;
    }
  }
}
