@import '_variables';

@mixin services-icon($icon-url) {
  content: "";
  box-sizing: content-box;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 13px;
  display: block;
  background: url($icon-url) no-repeat;
}
@mixin font-content($font-weight, $font-size, $line-height) {
  font: $font-weight $font-size+px str-insert(#{$line-height+px},"/", 1) $font-content;
}

@mixin font-header($font-weight, $font-size, $line-height) {
  font: $font-weight $font-size+px str-insert(#{$line-height+px},"/", 1) $font-header;
}
