$font-header: 'Montserrat', sans-serif;
$font-content: 'PT Serif', serif;

$color-primary: #fff;
$color-special: #fed136;
$color-header: #222;
$color-paragraph: #777;
$color-nav: #fff;
$color-icon: #000;
$color-icon-hover: #fff;
$color-icon-border: #000;
$color-icon-border-hover: #fff;
$color-button: #fff;
$color-button-hover: #000;
$color-background: #fff;
$color-background-special: #f7f7f7;
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-pinterest: #cb2028;
$color-googleplus: #d95232;
$color-form-text: #d8d8d8;
