@mixin services-icon($icon-url){
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 16px;
  display: block;
  background: url($icon-url) no-repeat;
}
.row::before, .row::after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
[class*="col-"] {
  float: left;
  min-height: 1px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
section > .container {
  margin: 120px auto 120px auto;
}
.background-wrapper:after {
  padding-top: 51.85%;
  display: block;
  content: '';
}
.background-wrapper {
  width: 100%;
  position: relative;
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../images/home-background.png') no-repeat center center;
    background-size: cover;
  }
}
nav {
  padding: 0 32px;
  .logo {
    display: block;
    width: 79px;
    padding-top: 49px;
    float: left;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
    li {
      float: left;
      padding: 55px 40px 7px 0;
      &:last-of-type {
        padding-right: 0;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
#home {
  color: #fff;
  text-align: center;
  h1 {
    margin-top: 10%;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
  }
  h2 {
    margin-top: 10%;
    text-transform: uppercase;
    font: bold 75px/75px 'Montserrat', sans-serif;
  }
  #tellMeMore {
    margin-top: 5%;
    background-color: #fed136;
    border: none;
    border-radius: 3px;
    padding: 25px 51px;
    font: bold 18px/18px 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
}
#services {
  background: #fff;
  header {
    text-align: center;
    h3 {
      text-transform: uppercase;
      color: #222;
      font: bold 40px/40px 'Montserrat', sans-serif;
    }
    p {
      font: 16px/16px 'PT Serif', serif;
      padding-top: 20px;
      color: #777;
    }
  }
  article {
    padding-top: 76px;
    text-align: center;
    .services-icon-wrapper {
      margin: 0 auto;
      width: 73px;
      height: 73px;
      border-radius: 50%;
      border: 3px solid #fed136;
      position: relative;
    }
    h4 {
      margin-top: 24px;
      text-transform: capitalize;
      font: bold 18px/18px 'Montserrat', sans-serif;
    }
    p {
      padding: 15px 28px 0;
      font: 14px/14px 'PT Serif', serif;
      color: #777;
    }
  }
  article:nth-child(1) {
    .services-icon-wrapper{
      &:after {
        @include services-icon('../images/icon-basket.png');
        left: 17px;
      }
    }
  }
  article:nth-child(2) {
    .services-icon-wrapper{
      &:after {
        @include services-icon('../images/icon-laptop.png');
        left: 17px;
        top: 20px;
      }
    }
  }
  article:nth-child(3) {
    .services-icon-wrapper{
      &:after {
        @include services-icon('../images/icon-paddlock.png');
        left: 22px;
      }
    }
  }
}
#portfolio {
  text-transform: capitalize;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1px 0;
  .row {
    &:nth-child(2) {
      padding-top: 50px;
      article {
        &:nth-child(1) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-1.png') no-repeat center center;
          }
        }
        &:nth-child(2) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-2.png') no-repeat center center;
          }
        }
        &:nth-child(3) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-3.png') no-repeat center center;
          }
        }
      }
    }
    &:nth-child(3) {
      article {
        &:nth-child(1) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-4.png') no-repeat center center;
          }
        }
        &:nth-child(2) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-5.png') no-repeat center center;
          }
        }
        &:nth-child(3) {
          .portfolio-image-wrapper {
            background: url('../images/portfolio-6.png') no-repeat center center;
          }
        }
      }
    }
  }
  header {
    h3 {
      text-transform: uppercase;
      font: bold 40px/40px 'Montserrat', sans-serif;
      color: #222;
    }
    p {
      padding-top: 20px;
      font: 16px/16px 'PT Serif', serif;
      color: #777;
    }
  }
  article {
    .portfolio-image-wrapper {
      background-size: cover !important;
      // width: 290px;
      // height: 300px;
      width: 100%;
      padding-top: 100%;
    }
    &:nth-child(1) {
      .portfolio-article-wrapper {
        padding: 25px 17px 25px 25px;
      }
    }
    &:nth-child(2) {
      .portfolio-article-wrapper {
        padding: 25px 17px 25px 17px;
      }
    }
    &:nth-child(3) {
      .portfolio-article-wrapper {
        padding: 25px 25px 25px 17px;
      }
    }
    .portfolio-label {
      background-color: #fff;
      padding: 30px 0;
      h4 {
        font: bold 18px/18px 'Montserrat', sans-serif;
        color: #222;
      }
      p {
        padding-top: 2px;
        font: 14px/14px 'PT Serif', serif;
        color: #777;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-xl-#{$i} {
      width: $width;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-lg-#{$i} {
      width: $width;
    }
  }
  .container {
    max-width: 960px;
  }
  #home {
    color: #fff;
    text-align: center;
    h1 {
      font-size: 20px;
      line-height: 20px;
    }
    h2 {
      font: bold 40px/40px 'Montserrat', sans-serif;
    }
    #tellMeMore {
      font: bold 12px/12px 'Montserrat', sans-serif;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-md-#{$i} {
      width: $width;
    }
  }
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  @for $i from 1 through 12 {
    $width: percentage(1 / 12) * $i;
    .col-sm-#{$i} {
      width: $width;
    }
  }
  .container {
    max-width: 540px;
  }
}
